$fon: #fafbfc;
$white: #fff;
$red: #ed715c;
$green: #46b688;
$grey: #ebedf8;
$border: #9b9b9b;
$font-color: #9398a2;
$title-color: #454545;
$button-hover: #399f81;
$button-active: #288077;
$link-color: #0a7abf;

